.comments{
    margin-top: 50px;
}
.row{
    margin-bottom: 10px;
    margin-top: 10px;
}
.errors{
    color: red;
    text-align: center;
}
.register-name{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;

}